.cardBalance {
    border-radius: 20px;
    height: 283px;
    margin-bottom: 20vh;
    font-family: Calibri;
    background-color: #0A3967;
}

.textUser {
    font-family: Calibri;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.textAmountBalance img {
    padding-bottom: 6px;
}

.logoCopy {
    padding-bottom: 6px;
    margin-left: 32px;
}

.textAmountBalance h2 {
    font-family: Calibri;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-right: 32px;
}

.textNoRek {
    font-family: Calibri;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
}

.bgLogoBca {
    height: 90%;
    width: auto;
    right: 10px;
    top: 15px;
}

.cardName {
    padding-top: 39px !important;
}

.containerInfoSaldo {
    width: 100%;
    margin: 50px 0 64px 0;
    padding: 0 162px;
    align-items: flex-start;
}

.containerInfoSaldo h1 {
    margin-bottom: 32px;
    font-size: 28px;
    font-family: calibri;
    font-weight: 700;
}

.btnSection {
    margin-bottom: 43px;
}

@media only screen and (max-width: 600px) {
    .cardBalance {
        border-radius: 20px;
        height: auto;
        margin-bottom: 49px;
        font-family: Calibri;
    }

    .textUser {
        font-family: Calibri;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 15px;

    }

    .textAmountBalance img {
        padding-bottom: 6px;
    }

    .textAmountBalance h2 {
        margin-right: 16px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
    }

    .textNoRek {
        font-family: Calibri;
        font-size: 12px;
        font-style: normal;
        margin-left: 10px;
        padding-bottom: 15px;
        font-weight: 700;
    }

    .logoCopy {
        padding-bottom: 20px;
        margin-left: 16px;
        width: 6% !important;
    }

    .textBalance {
        font-size: 13px;
        margin-bottom: 1px;
    }

    .bgLogoMastercard {
        height: 30px;
        margin-bottom: 20px;
        padding-left: 0;
    }

    .profile-name {
        padding: 0;
        margin: 0;
    }

    .containerInfoSaldo {
        padding: 0 20px;
    }

    .bgLogoBca {
        height: auto;
        width: 35%;
        right: 10px;
        top: 55px;
    }

    .btnWeb {
        display: none;
    }

    .hideSaldo {
        margin-right: 32px;
        width: 40% !important;
    }
}