.leftColumn {
    background-color: #0A3967;
    height: 100vh;
}

.logoContainer {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logoWhite {
    width: 125px;
    height: auto;
}

.logoBlue {
    display: none;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginImage {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.rightColumn {
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    width: 452px;
}

.loginTitle {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 70px;
}

.formLabel {
    text-align: left;
    display: block;
    font-weight: 500;
}

.formControl {
    width: 100%;
    height: 48px;
    border-radius: 18px;
}

.passwordToggle {
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.forgotPassword {
    text-align: right;
    margin-bottom: 40px;
}

.forgotPasswordLink {
    text-decoration: none;
    font-size: 14px;
    color: #0066AE;
    font-weight: 700;
}

.loginButton {
    width: 100%;
    height: 48px;
    background-color: #0066AE;
    border-radius: 18px;
    border: none;
    color: white;
    font-size: 16px;
}

.loginButton:hover {
    background-color: #0A3967;
}

.errorInput {
    border-color: #FF0000 !important;
}

.errorMessage {
    background-color: #FF0000;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    width: 70%;
    margin: 70px auto 15px auto;
}

@media only screen and (max-width: 768px) {
    .leftColumn {
        display: none;
    }
    .rightColumn {
        width: 100vh;
    }
    .formContainer {
        width: 80%;
    }
    .logoBlue {
        display: block;
        position: absolute;
        top: 40px; 
        left: 40px; 
        width: 150px;
    }

}

@media only screen and (max-width: 600px) {
    
    
    .leftColumn {
        display: none;
    }
    .logoBlue {
        display: block;
        position: absolute;
        top: 38px;
        left: 24px;
        width: 100px;
        height: auto;
        z-index: 1000;
    }
    .rightColumn {
        margin-top: 4%;
    }
    .loginTitle {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .formControl {
        height: 35px;
        border-radius: 10px;
    }

    .formLabel {
        font-size: 14px;
        font-weight: 700;
    }
    .formControl::placeholder {
        font-size: 12px;
    }
    .loginButton {
        font-size: 14px;
        height: 6vh;
        border-radius: 12px !important;
        line-height: 48px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .errorMessage {
        margin-top: 30px;
        font-size: 10px;
        width: 85%;
        padding: 10px 0;
    }

    .formInputFirst {
        margin-bottom: 30px !important;
    }
}