.circle {
    width: 50px;
    height: 50px;
    background-color: #0066AE;
    border-radius: 100%;
    display: flex;
  }
  
  .text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
  }

  .w-20 {
    width: 20% !important;
  }

.bg-blue-secondary {
    background-color: #0066AE;
  }

.outline:hover {
  border: 1px solid #0066AE !important;
}

.success{
  border-radius: 70px;
}

.side-logo {
  max-width: 100px;
  width: 100%;
  height: auto;
  margin: 1rem;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .circle {
    width: 30px;
    height: 30px;
  }

  .text {
    font-size: 16px;
  }

  .card-body {
    padding: 0.25rem !important;
  }

  h5 {
    font-size: 0.75rem !important;
  }

  h6 {
    font-size: 0.675rem !important;
  }

  small {
    font-size: 0.5rem !important;
  }

  .success{
    border-radius: 50px;
  }

  .side-logo {
    margin: 0;
  }
  
}
  