.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
  }

  .circle img {
    margin: auto;
    width: 80%;
  }

.base-color {
    background-color: #0066AE;
  }

.ovo-color {
    background-color: #4C3494;
    ;
}

.gopay-color {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dana-color {
    background-color: #108EE9;
}

.paypal-color {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.spay-color {
    background-color: #F0592C;
}
  
  .text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
  }

  .w-20 {
    width: 20% !important;
  }

.bg-blue-secondary {
    background-color: #0066AE;
  }

.outline:hover {
  border: 1px solid #0066AE !important;
}

.success{
  border-radius: 70px;
}

.side-logo {
  max-width: 100px;
  width: 100%;
  height: auto;
  margin: 1rem;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .circle {
    width: 30px;
    height: 30px;
  }

  .text {
    font-size: 16px;
  }

  .card-body {
    padding: 0.25rem !important;
  }

  h5 {
    font-size: 0.75rem !important;
  }

  h6 {
    font-size: 0.675rem !important;
  }

  small {
    font-size: 0.5rem !important;
  }

  .success{
    border-radius: 40px;
  }

  .side-logo {
    margin: 0;
  }
  
}
  