.container {
  margin: 0;
}

.containerMutation {
  width: 100%;
  margin: 92px 0 0 0;
  padding: 0 80px;
  align-items: flex-start;
}
.containerMutation h1 {
  margin-bottom: 32px;
  font-size: 28px;
  font-family: calibri;
  font-weight: 700;
}

.btnSection {
  justify-content: space-between;
  width: 100%;
}

.containerFilter {
  margin: 47px 0 64px 0;
  width: 100%;
  justify-content: space-between;
}

.section1 {
  width: 50%;
  justify-content: space-between;
}


.containerCard {
  width: 100%;
}

.emptyData {
  margin-top: 52px;
  margin-bottom: 197px;
  font-size: 24px;
  font-weight: 700;
  font-family: calibri;
  color: #0066AE;
}

.emptyData img{
  width: 35%;
  margin-bottom: 30px;
}

.emptyData p {
  margin: 0;
}
