.dropdownRek{
  margin-left: 71px !important;
}

.dropdown-sumber-rekening {
  background-color: white;
  width: 100% !important;
}

.dropdown-toggle .title {
  color: black;
  text-align: start;
}

.dropdown-toggle .subtitle {
  color: black;
  text-align: start;
}

.title {
  font-size: 12px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .dropdown-sumber-rekening {
    width: fit-content;
  }
  .dropdownRek {
    margin-left: 90px !important;
  }
}