.fa-chevron-down {
  margin-left: 13px;
}

.dropdown-sumber-rekening {
  background-color: white;
}

.dropdown-toggle .title {
  color: black;
  text-align: start;
}

.dropdown-toggle .subtitle {
  color: black;
  text-align: start;
}