a, p, h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, sans-serif!important;
}

#root {
  width: 100%;
  padding: 0;
  font-family: Calibri, sans-serif!important;
}

.base-color{
  color: white !important;
  background-color: #0066AE !important;
}

.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-img-info-saldo {
  /* height: 100px; */
  width: 10px;
}

.footer-icon-phone {
  width: 25px;
  height: 25px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.header-icon {
  width: 25px;
  height: 25px;
}

.footer-card {
  position: fixed;
  padding: 2em;
  background-color: #0A3967 !important;
  border-radius: 0 !important;
}

.navbar-header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 7px -2px gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.button-beranda {
  margin-right: 0.5rem;
  /* background-color: #0066AE; */

}

  .necktie {
    width: 100vw;
    height: 30vh;
    background-color: #0A3967;
    z-index: -999;
  }

  .pincode-input-text {
    border-radius: 100%;
    border: none !important;
    background-color: #B3B3B3 !important;
  }

/* Form Choose Bank for Interback Transfer */
.css-13cymwt-control:focus, .css-13cymwt-control:hover {
  border : 1px solid #0066AE !important;
}
.css-13cymwt-control {
  border : 1px solid #dee2e6 !important;
}
.css-hlgwow {
  padding-left: 3rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.css-19bb58m {
  padding: 0 !important;
  margin: 0 !important;
}
.css-1nmdiq5-menu {
  padding-left: 3rem !important;
}
.css-1u9des2-indicatorSeparator {
  display: none !important;
}

  /* mediaquery tablet */
  @media only screen and (max-width: 900px) {

    /* set mediaquery for footer */
    .footer-card {
      padding: 20px;
    }
  }


/* mediaquery android */
@media only screen and (max-width: 600px) {

  /* set mediaquery for footer */
  .footer-card {
    padding: 10px;
  }

  .pincode-input-text {
    width: 30px !important;
    height: 30px !important;
  /* input date */
  }
  
  .react-datepicker {
    right: 6%;
  }
  
  .pin-input {
      width:10px!important;
  }

  /* Form Choose Bank for Interback Transfer */
  .css-13cymwt-control {
    height: 29px !important;
  }
  .css-hlgwow {
    padding: 0.375rem 0.75rem !important;
  }
  .css-1nmdiq5-menu {
    padding: 0.375rem 0.75rem !important;
  }
}